:root{
    --dashboard-color:#FFDEA7;
    --article-bg-color:#f0ece8;
    --left-dashboard-color:#A6674C;
}

*{
    margin: 0; /*To leave the body without margins*/
    font-family: Arial, Helvetica, sans-serif;
   
}

html {
    height: 100%;
    width: 100%;
    
  }

.body{
    box-sizing: border-box;/*To include padding and margins in the total size*/
}

/*All the grid classes here*/

.main-container, .header, .left-sidebar, .right-sidebar, .article, .main-nav, .second-nav, .search-row, .buttons-row, .announcements-box, .trending-box, .trending-account{
    display:grid;
}

.main-container{
    grid-template-columns: 1.3fr 4fr 1.5fr;
    background-color: var(--article-bg-color);

}


/*Header stuff*/
.header{
    background-color: white;
    grid-template-rows: 1fr 1fr;
    grid-area: 1 / 2 / 2 / 4;
    box-shadow: 0 8px 10px rgb(180, 180, 196);
    padding-bottom: 0.7rem;
    padding-top: 0.5rem;
}

.search-row{
    grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
    align-items: center;   
}

.search-bar, input, select{
    height:30px;
    background-color: var(--article-bg-color);
    border-radius: 15px;
    border-style: none;
}

.search-logo{
    padding-right: 0.8rem;
    text-align:end;
}

.notification-icon{
    text-align: right;
}

.user-icon{
    text-align: center;  
}

.user-name, .user-greet{
    font-weight: bold;
}

.buttons-row{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

form div{
    padding-left: 1.6rem;
}


.new{
    width:100px;
    margin-right: 1rem;
    margin-left: 2rem;
    padding:0.5rem;
    background-color: var(--left-dashboard-color);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
   align-self: end;
}

.new:hover{
    transform: scale(1.05); 
}


/*Left-sidebar stuff*/

.left-sidebar{
    /*This image is not optimized*/
    background-image:url("/images/Free_Wood_Texture_06.jpg"); /*var(--left-dashboard-color);*/
    color:white;
    grid-area: 1 / 1 / 3 / 1;
    grid-template-rows: 100px 350px 400px;
    font-weight: bold;
}

.dash-section{
    display: flex;
    justify-content:left;
    padding-left: 2rem;
    align-items: center;
    font-size: 1.4rem;
}

.main-nav{
    grid-template-rows: repeat(6, 40px);
    gap: 8px;
    padding-bottom: 8px;
    list-style-type: none;
    padding-left: 2rem;
    
}

.second-nav{
    grid-template-rows: repeat(3, 40px);
    gap:8px;
    list-style-type: none;
}

/*Images as bullets in the list*/

.main-nav li, .second-nav li{
    padding-left: 2.3rem;
    line-height: 30px;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    cursor:pointer;
    transition: color .3s ease-in-out
}

.main-nav li:nth-child(1){
    background-image:url('images/home-variant-white.png');
}

.main-nav li:nth-child(2){
    background-image:url('images/card-account-details-outline-white.png');
}

.main-nav li:nth-child(3){
    background-image:url('images/message-reply-white.png');
}

.main-nav li:nth-child(4){
    background-image:url('images/clock-time-three-white.png');
}

.main-nav li:nth-child(5){
    background-image:url('images/note-multiple-white.png');
}

.main-nav li:nth-child(6){
    background-image:url('images/account-group-white.png');
}

.second-nav li:nth-child(1){
    background-image:url('images/cog-white.png');
}

.second-nav li:nth-child(2){
    background-image:url('images/help-box-white.png');
}

.second-nav li:nth-child(3){
    background-image:url('images/shield-check-white.png');
}

li:hover {
  text-decoration: underline;
}


/*Article stuff*/
.article{
    margin: 0 auto;
    padding-left: 2rem;
    padding-top: 2rem;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    grid-template-rows: 30px repeat(auto-fit, minmax(350px, 370px));
    grid-column-start: 2;
    grid-row-start:2;
    gap:15px;
    
}

.article-title{
    grid-column: 1 / 4;
    height:20px;
}

.card{
    display: flex;
    flex-direction: column;
    height:350px;
    width: 250px;
    background-color:#ead9bc;
    border-radius: 10px;
    border-style: solid;
    border-width: 0 0 0 10px;
    border-color: var(--left-dashboard-color);
    box-shadow: 5px 5px 5px rgb(180, 180, 196); 
    transition: all .2s ease-in-out;
    
}

.card:hover{
    transform: scale(1.05); 
}

.title{
    padding: 3rem 0 0 1.5rem;
}

h3{
    padding: 1rem 0 0 1.5rem;
}

.pages{
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    font-weight: bold;
}

.status{
    margin-left: 1.5rem;
    margin-top:1rem;
    width: 5rem;
    font-weight: bold;
    background-color: #ead9bc;
    padding: 0.2rem 0 0.2rem 0;
    cursor: pointer;
}

.trash {
    display:flex;
    padding-right: 1rem;
    padding-top:30%;
    align-self:flex-end;
    height:100%;
    cursor: pointer;
    color: black;
    font-size: 2rem;
}

.card-icons img{
    width:25px;
    height: 25px;
}

.card-icons{
    display:flex;
    padding-right: 1rem;
    padding-top: 30%;
    align-self: flex-end; 
    height: 100%; 
}


